<div class="container data_table">
    <table id="tb_demo" width="100%" class="table">
        <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>compary</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>